global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80
    default_backend web_servers

backend web_servers
    balance roundrobin
    server web1 192.168.56.11:3000 check
    server web2 192.168.56.12:3000 check

backend error_page
    errorfile 503 /vagrant/web/error.html
